<% content_for :title, "About – Minicraques" %>
<section id="about">
    
    <h1>About Us</h1>
    <hr>
    <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat, lectus eget blandit fermentum, dolor leo feugiat orci, in elementum turpis massa quis enim. Aenean eleifend sem a sem eleifend lobortis. Donec quis lectus bibendum, rhoncus orci id, sagittis elit. Donec vestibulum est justo, sed auctor turpis laoreet nec. Nullam scelerisque venenatis eleifend. Praesent metus elit, porttitor vitae lacinia vitae, dictum eget sapien. Duis semper pretium ex, vitae auctor leo egestas tempor. Morbi finibus lectus et dolor accumsan commodo. Nam id ipsum augue. Etiam eleifend tristique sapien eu semper. Pellentesque venenatis tincidunt mi.</p>
    </div>
    
</section>

