<footer>
    <div class="row">
        
        <div class="col-md-4 alinhar-centro">
            <h2>Contact</h2>
            <div class="infos-contact">
                <p>Email: rafaelreisferreira@gmail.com</p>
                <p>Telephone: +55 21 980778600</p>
            </div>
        </div>
        
        <div class="col-md-4 alinhar-centro">
            <a href="#"><%= image_tag "prostars-logo.jpg", :class => "prostars-logo" %></a>
        </div>
        
        <div class="col-md-4">
            <h2>Follow us</h2>
            <div class="social-media">
                <div class="pos-icon"><a href="https://www.facebook.com"><div class="box-icon"><%= image_tag "icon-face.png", :class => "icon-footer" %></div></a></div>
                <div class="pos-icon"><a href="https://www.instagram.com"><div class="box-icon"><%= image_tag "icon-insta.png", :class => "icon-footer" %></div></a></div>
            </div>
        </div>
        
    </div>
    <hr>
    <div class="prod">
        <%= image_tag "icon-face.png", :class => "icon-hash" %>
    </div>
</footer>